<!DOCTYPE html>
<html>
<head>
    <title>Rezept anlegen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div>
    <form action="/recipe/save" method="post">
        <label>Rezeptname:</label>
        <input type="text" name=recipeName value={{recipeNameData}}><br>

        <label>Zutaten:</label>
        <input type="number" name=incredAmount min="0">
        <input type="text" name=incredmeasure>
        <input type="text" name=incredName value={{incredNameData}}><br>

        <label>Zubereitungsschritte:</label>
        <input type="text" name=prepText value={{prepTextData}}><br>

        <input class="dudu" type="submit" value="Speichern">
    </form>
</div>
</body>
</html>