{% extends "baseLayout.html" %}
{% block body %}
<div>
    <form action="/recipe/save" method="post">
        <label>Rezeptname:</label>
        <input type="text" name=recipeName value="{{data['recipeName']}}"><br>

        <label>Zutaten:</label><br>
        {% for ingred in data['allIngreds'] %}
            <input type="number" name=ingredAmount{{loop.index}} min="0" value="{{ingred['ingredAmount']}}">
            <input type="text" name=ingredMeasure{{loop.index}} value="{{ingred['ingredMeasure']}}">
            <input type="text" name=ingredName{{loop.index}} value="{{ingred['ingredName']}}"><br>
        {% endfor %}

        <label>Zubereitungsschritte:</label>
        <input type="text" name=prepText value="{{data['prepText']}}"><br>

        <input class="dudu" type="submit" value="Speichern">
    </form>
</div>
{% endblock %}