<!DOCTYPE html>
<html>
<head>
    <title>Rezept anlegen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div>
    <form action="/recipe/save" method="post">
        Rezeptname: <input type="text" name=recipeName value="{{recipeNameData}}"><br>
        Zutaten: <input type="text" name=Zutaten value="{{ZutatenData}}"><br>
        Zubereitungsschritte: <input type="text" name=Zubereitung value="{{ZubereitungData}}"><br>
        <input type="submit" value="Speichern">
    </form>
</div>
</body>
</html>